@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

body{
    width:100vw;
    height:100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    overflow-x: hidden;
}

/* navbar area */

.navbar-brand{
    padding:5px !important;
    width: 40px;
    margin-right:200px !important;
    /* UI Properties */
    background: #FBBD71 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    display: flex !important;

}

@media screen and (max-width:500px) {
  .navbar-brand{
    margin-right:10px !important;
  }
  
}

.logo{
    width:30px;
    margin-left: 2px;
}

.brandName{
    font: normal normal bold 28px/32px Helvetica;
    letter-spacing: 0px;
    color: #21455E;
    opacity: 1;
}

.navbar-nav>li>a{
    font: normal normal medium 18px/27px Poppins !important;
    letter-spacing: 0px;
    color: #707070 !important;
    opacity: 1;
    margin-left: 30px;
    
}

.dropdown-toggle::after {
    
    display: none !important;
    
}

.help{
    font-weight: bolder;
}

hr{
    padding:10px;
    border:1px solid grey;
}

.imageRight{
    height:30px;
    width:30px;
    border-radius: 4px;
}
.name{
    font-weight: bold;
}

.mail,.name{
    font-size: 12px;;
}

.navbar-nav>li.active > a {
    border-top:3px solid #0DABD8;
    border-radius:1px;
    color:black !important;
    background-color: aliceblue;
    font-weight:bold;
    
}

li.active > .dropdown-menu>a.activate{
    font: normal normal medium 16px/25px Poppins;
    letter-spacing: 0px;
    color: #0DABD8;
    opacity: 1;
}
/* navbar ends */


/* body starts */


/* sidebar */
.content{
    padding-left:20px;
    padding-right:20px;

}

@media screen and (max-width:500px) {
  .content{
    padding:0px !important;
  }
}

.sidebar{
    border-right: 1px solid grey;
    min-height:100vh;
    background: #EBF2F6 0% 0% no-repeat padding-box;

}

.sideContent{
    margin-top: 20px;;
}

.sideContent>li{
    font: normal normal 300 16px/25px Poppins;
    letter-spacing: 0px;
    color: #1f2b34 !important;
    opacity: 1;
}

.sideContent>li>a{
 
    color: #1f2b34 !important;

}

.sideContent>li.actif{
    background: #E2E5ED 0% 0% no-repeat padding-box;
    border: 1px solid #0DABD838;
    border-radius: 10px;

}

/* main bar */

.mainContainer{
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
}

.descTog{
    text-align: left;
font: normal normal normal 14px/26px Poppins;
letter-spacing: 0px;
color: #637C8E;
opacity: 1;
}

.desc{
    letter-spacing: 0px;
    opacity: 1;
    color: black;
    font-size: 20px;
}

.desc>span{
    color:grey;
    font-weight: bold;
}

.button{
    height: 42px;
    border: 1px solid #E2E5ED;
    border-radius: 28px;
    opacity: 1;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #637C8E;
    opacity: 1;
}

@media screen and (max-width:550px){
    .button{
        margin-top:10px ;
    }

    .sidebar{
        display: none;
    }
}

.btnRequest{
    background: #0DABD8 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    color: white;
}

.btnRecord{
    background: #EF5350 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 1;
    color:white;
}

.btnDisabled{
    background: #0DABD8 0% 0% no-repeat padding-box;
    border-radius: 28px;
    opacity: 0.5;
    color: white;
}

.emptyContent{
    width:100%;
    height: 563px;
    /* UI Properties */
    border: 1px dashed #A3BAC6;
    border-radius: 38px;
    opacity: 1;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    
}

.sayHello{
    font-family: Poppins !important;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}
.imgEmpty{
    width: 223px;
    height: 176px;
    text-align: center;
}



.imgEmpty~p{
    font-family:Helvetica Neue !important;
    font-size:14px !important;
    letter-spacing: 0px;
    color: #637C8E;
    opacity: 1;
    max-width:460px;
}



.btnDiv{
    width:320px;
    margin:auto;
}


@media screen and (max-width:500px){
  .imgEmpty~p{
    font-family:Helvetica Neue !important;
    font-size:14px !important;
    letter-spacing: 0px;
    color: #637C8E;
    opacity: 1;
    width:90%;
    margin: auto;
  }

  .btnDiv{
    width: 90%;
    margin:auto;
  }
}
.adiloImage{
    width: 441px;
    height: 262px;
    box-shadow: 0px 3px 48px #0000001A;
    border-radius: 10px;
    opacity: 1;
}


@media screen and (max-width:500px){
  .adiloImage{
    width:100%;
  }
  .sayHello{
    margin-top: 5px;
  }
}

/* recording page */

.myTable{
    border:none !important;
    width: 100%;
    padding:5% !important;
}

th{
    font-family:Poppins;
    font-size:16px;
    letter-spacing: 0px;
    color: #21455E;
}

.recThumb{
    width: 120px;
    height: 65px;
    border-radius: 6px;
}

.recName{
    font-family:Poppins;
    font-size:15px;
    letter-spacing: 0px;
    color: #21455E;
}

.recDesc{
    font-family:Poppins;
    font-size:12px;
    width:270px;
    letter-spacing: 0px;
    color: #A3BAC6;
}

.recViews,.recDots,.recSize,.recTime{
    font-family:Poppins;
    font-size:17px;
    letter-spacing: 0px;
    color: #21455E;
}

.recTime{
    font-size: 14px;
}

.recDots{
    font-size:7px;
}

/* modal */

.modal-content{
    width: 427px !important;
    height: 536px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
}

.nav-link{
    text-decoration: none;
}

select, .descInput{
    width: 327px;
    height: 49px;
    background: #F8FAFB 0% 0% no-repeat padding-box;
    border: 1px solid #E2E5ED;
    border-radius: 8px;
}

.saveIn{
    font-family:Poppins;
    font-size:16px;
    letter-spacing: 0px;
    color: #000000;
}

.contentuals{
  position: relative;
}

.topRight{
  position:absolute;
  top:50px;
  right:5px;
  font-size:25px !important;
}

.modalRec{
    font:Poppins;
    font-size: 18px;
    letter-spacing: 0px;
    color: #21455E;
    opacity: 1;
}

/* Toggle Switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 19px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 2px;
    top:1.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1cde7a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1cde7a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .modal-body{
    padding:2rem !important;
  }

  .readyDiv{
    background: transparent linear-gradient(117deg, #0DABD8 0%, #EAFAFF 0%, #D3F5FE 100%) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

  }

  .blueDiv{
    width: 965px;
    height: 518px;
    /* UI Properties */
    background: #0c3451 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
  }

  .noti-Div{
    margin-top: 50px;
    display: inline;
  }

  .preview{
    font-family: Poppins;
    letter-spacing: 0px;
    color: #637C8E;
    font-size: 14px;
  }


  .noti-badge{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: #ff0000;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
    z-index: 1;
    position: relative;
  }


  .noti-badge::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    content: "";
    height: 120%;
    width: 120%;
    border: 8px solid rgb(255 0 0);
    border-radius: 100%;
    -webkit-animation-name: ripple;
            animation-name: ripple;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
            animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
  }

  .noti-badge::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    content: "";
    height: 120%;
    width: 120%;
    border: 8px solid rgb(255 0 0);
    border-radius: 100%;
    -webkit-animation-name: ripple;
            animation-name: ripple;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
            animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
  }
  
  @-webkit-keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.85, 0.85, 1);
    }
    to {
      opacity: 0;
      transform: scale3d(1.5, 1.5, 1);
    }
  }
  
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.85, 0.85, 1);
    }
    to {
      opacity: 0;
      transform: scale3d(1.5, 1.5, 1);
    }
  }
  
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale3d(0.75, 0.75, 1);
    }
    to {
      opacity: 0;
      transform: scale3d(1.5, 1.5, 1);
    }
  }


